In [4]:
from vnstock import stock_historical_data

df = stock_historical_data('TCB', '2010-01-01', '2019-01-01')

df.head()

         time   open   high    low  close   volume ticker
0  2018-06-04  34133  34999  34133  34133  2811840    TCB
1  2018-06-05  33033  35333  31999  31999  1357500    TCB
2  2018-06-06  31666  31999  30333  30666  1605480    TCB
3  2018-06-07  31499  32799  31033  32799  1376540    TCB
4  2018-06-08  33666  35066  33166  35066  2008500    TCB